.searchPage {
  width: 65%;
  border-right: 1px solid rgba(211, 211, 211, 0.664);
  height: fit-content;
}

.search-results {
  position: relative;
  top: -50px;
  width: 100%;
  height: fit-content;
  background-color: white;
  /* max-height: 82vh; */
  /* overflow-y: auto; */
  display: inline-flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  justify-content: center;
}

.Map-component {
  position: absolute;
  right: 0px;
  width: 35%;
  height: 100vh;
  background-color: pink;
}

.searchPage__info {
  padding: 20px;
  padding-bottom: 30px;
}

.searchPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.searchPage__info > h1 {
  margin-bottom: 30px;
}

.searchPage__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

.footer {
  z-index: 50;
  clear: right;
}

@media screen and (max-width: 999px) {
}

@media screen and (max-width: 400px) {
  .searchPage {
    width: 100%;
  }
  .Map-component {
    display: none;
  }
}
