.searchResult {
  display: flexbox;
  position: relative;
  margin: 20px;
  padding: 1%;
  width: 350px;
  height: max-content;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  display: inline-block;
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult__info {
  position: relative;
  top: 5px;
  left: 0px;
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  background-color: white;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.searchResult__infoTop {
  width: fit-content;
  word-wrap: normal;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult__infoBottom {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5% 0%;
}

.searchResult__star {
  color: red;
}

.searchResult__stars {
  display: flex;
  align-items: center;
}

.searchResults__price > p {
  text-align: right;
}

.searchResults__price {
  position: relative;
  bottom: 0px;
  right: 5px;
  height: 10px;
  font-size: 10px;
  align-items: center;
}
